{% extends 'base.html' %}

{% block content %}
<h1>{{ member.username }}'s Profile Page</h1>
<div>
    <h2>username : {{ member.username }}</h2>
    <p>
        {% if request.user != member %}
        <form action="{% url 'users:follow' member.pk %}" method="POST">
            {% csrf_token %}
            {% if user in member.followers.all %}
                <button type="submit">언팔로우</button>
            {% else %}
                <button type="submit">팔로우</button>
            {% endif %}
        </form>
        {% endif %}
    </p>
</div>

<a href="/index/">홈으로 돌아가기</a>
{% endblock content %}