<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        
        {% if request.user.is_authenticated %}
        <h3>Hello, {{ request.user.username }}</h3>
        <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="로그아웃"></input>
        </form>
        {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        {% endif %}
        
    </div>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>